<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dublin-bike</title>
    <link type="text/css" src="../static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /* Set the size of the div element that contains the map */
        #map_location {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }

    </style>

</head>

<body>
    <h3>My Google Maps Demo hello world</h3>
    <!--The div element for the map -->
    <div id="map_location"></div>
    <button id="drop_down_location">location</button>

    <!--this is the dropdown button-->
    <div class="container">
        <h2>List of Stations</h2>
        <p>Click to get the list of all the stations</p>
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Stations
            </button>
        </div>
    </div>

    <select id="station-dropdown" name="station">
    </select>



    <!--line to the JS-->
    <script type=text/javascript src="/static/js/app.js"></script>

    <!--link to the google map    -->
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdlLCjk9Oyl2sflPmTk6OjJA0n7e9E7ac&callback=initMap">
        var map; //Global map variable that cna be accessed by multiple functions
        var currentStation; //String variable set to the name of the current station being queries
        var currentStationNo; //Int value set to the station number of the current station being queried

        function initialize() {
            //This function is used to initialize the google map settings which includes setting the starting position
            //and plotting pointers on the map


            //The mapProp object is used to define the properties of the google map that we will embed to the page
            var mapProp = {
                center: new google.maps.LatLng(53.348096, -6.261584),
                zoom: 13,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            //This creates a new google map object and inserts into a html div
            map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

            //add the markers to the map
            addMarkers(map);
        }

        function addMarkers(map) {
            //This is the default function for adding markers. It adds 
            var xmlhttp = new XMLHttpRequest();
            var url = "https://api.jcdecaux.com/vls/v1/stations?contract=Dublin&apiKey=0bef7f2fab41ef8a396b1e3ab0c929ac8138e3e1";

            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    var bikesites = JSON.parse(xmlhttp.responseText); //make the variable global to be used in the google map markers

                    for (var i = 0; i < bikesites.length; i++) {
                        var data = bikesites[i];

                        //Decide on the colour icon to use:
                        if (data.available_bikes / data.bike_stands > 0.5) {
                            iconColor = "http://maps.google.com/mapfiles/ms/icons/green-dot.png";
                        } else if (data.available_bikes / data.bike_stands > 0.25) {
                            iconColor = 'http://maps.google.com/mapfiles/ms/icons/orange-dot.png';
                        } else {
                            iconColor = 'http://maps.google.com/mapfiles/ms/icons/red-dot.png'
                        }

                        //Now we need to use the data to create the content for the infowindow



                        var infoWindow = new google.maps.InfoWindow();
                        var coords = new google.maps.LatLng(bikesites[i].position.lat, bikesites[i].position.lng);
                        var marker = new google.maps.Marker({
                            position: coords,
                            map: map,
                            icon: iconColor,
                            title: bikesites[i].address
                        });
                        (function(marker, data) {


                            // Attaching a click event to the current marker
                            google.maps.event.addListener(marker, "click", function(e) {
                                content = '<div class="infoContent">' +
                                    '<h3>' + data.name + '</h3>' +
                                    '<p>Station Number: ' + data.number + '</p>' +
                                    '<p>Total Bike Stands: ' + data.bike_stands + '</p>' +
                                    '<p>Available Bikes: ' + data.available_bikes + '</p>' +
                                    '<p>Available Stands: ' + data.available_bike_stands + '</p>' +
                                    '<p class="moreinfo" onclick="insertAddInfo()">More Info</p>' +
                                    '</div>';

                                currentStation = data.address;
                                currentStationNo = data.number;
                                infoWindow.setContent(content);
                                infoWindow.open(map, marker);
                            });

                        })(marker, data);

                    }
                }
            };

            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }

        //The DomListener is used to handle events on the map. This says to load the map when the window is loaded
        google.maps.event.addDomListener(window, 'load', initialize);

        setInterval(initialize, 300000);

        function insertAddInfo() {
            //Set the additional info title
            document.getElementById("infoTitle").innerHTML = '<h2>Information for: ' + currentStation + '</h2>';
            document.getElementById("additionalInfo").style.display = 'block';

            //Create the charts
            createChart('Monday');

            //Auto scroll down to show the user the charts
            scrollWin();
        }

        function scrollWin() {
            document.getElementById('infoTitle').scrollIntoView();
        }


        function showdropdown() {

            let dropdown = document.getElementById('station-dropdown');
            dropdown.length = 0;


            var url = '../static/station.json';

            const request = new XMLHttpRequest();
            request.open('GET', url, true);

            request.onload = function() {
                    if (request.status === 200) {
                        const data = JSON.parse(request.responseText);


                        request.send();



                    }

    </script>
</body>

</html>
