<!DOCTYPE html>
<html>

<head>
    <title>Dublin-bike</title>
<!--import necessary library-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type="text/css" href="../static/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body onload="init_station_dropdown()">
<!--<body>-->
    <!--logo-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4" id="header"> <strong class="logo"> <a href="/"> <img src="../static/images/dublinbike3.jpg" alt="Dublin Bike Home" width="200" height="100"> </a> </strong></div>
            <div class="col-lg-8 col-md-8 col-sm-8" id="header"><h1 id="header_word">Dublin-bikes Searching</h1></div>
        </div>

    </div>

    <!--weather api-->
    <div class="container-fluid">
        <div class="row">
            <a class="col-lg-12 col-md-12 col-sm-12 weatherwidget-io" id="weather_info" href="https://forecast7.com/en/53d35n6d26/dublin/" data-label_1="DUBLIN" data-label_2="WEATHER" data-theme="original">DUBLIN WEATHER
            </a>
        </div>
    </div>

    <!--the div element for the map and information window -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12" id="map_location"></div>
            <div class="col-lg-4 col-md-4 col-sm-12" id="info_content">
                <h1>Select a Station You want to know:</h1>
                <!--drop_down button-->
                <select id="station-dropdown" name="station-dropdown" onchange="select_dropdown()" ></select>
                <!--tab selection-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#History_Data" data-toggle="tab" id="tab_content">History Data</a></li>
                    <li><a href="#Prediction_Data" data-toggle="tab" id="tab_content">Prediction Data</a></li>
                </ul>
                <div class="tab-content">
                    <!--tab for history data-->
                    <div class="tab-pane active " id="History_Data">
                        <div id="weekChart"></div>
                        <div id="hourChart"></div></div>
                    <!--tab for prediction data-->
                    <div class="tab-pane" id="Prediction_Data">
                        <div style="font-size:20px"><input type="radio" name="requirement" value="take" checked id="option">Take</div>
                        <div style="font-size:20px"><input type="radio" name="requirement" value="return" id="option">Return</div>
                        <h2 style="font-size:20px">Date:</h2>
                        <input type="date" id="predict-date" name="predict-date" value="2020-04-01" style="font-size:20px">
                        <h2 style="font-size:20px">Time:</h2>
                        <input type="time" id="predict-time option" name="predict-time" value="13:30" min="05:00" max="23:00" required style="font-size:20px">
                        <br><br>
                        <button onclick="predict_bikes()" style="font-size:20px">Show available number</button>
                        <br>
                        <label style="font-size:20px"> The available number:</label>
                        <label id="available-bikes"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--line to the JS-->
    <script type=text/javascript src="/static/js/app.js"></script>
    <!--link to the google map    -->
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdlLCjk9Oyl2sflPmTk6OjJA0n7e9E7ac&callback=initMap">
    </script>
    <!--the below code for weather widget-->
    <script>
        ! function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://weatherwidget.io/js/widget.min.js';
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, 'script', 'weatherwidget-io-js');
    </script>
</body>
<!--footer-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" id="footer">
            <p>Copyright 2020 Aji Kurian , Botao Wang , Peisong Han. All Rights Reserved.</p>
        </div>
    </div>
</div>
</html>
